<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- Card Header with Blog Title -->
      <div class="card-header">
        <h2 class="mb-0">{{title}}</h2>
        <div >
        Created by {{user.title}} on {{format_date date_created}}
      </div>
      </div>
      <!-- Card Body with Blog Content -->
      <div class="card-body">
        <p class="card-text">{{content}}</p>
      </div>
      <!-- Card Footer with Author and Date -->
      
    </div>
  </div>
</div>
